.cropper {
  width: 800px;
  height: 650px;
  overflow: hidden;

  border-radius: 5px;
  overflow: hidden;

  position: absolute;
  left: 50%;
  top: 50%;
  margin: -300px -400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
}

.cut_result {
  height: ~"calc(100% - 50px)";
  display: flex;
  justify-content: center;
  border: 1px solid #d9d9d9;

  img {
    align-self: center;
  }
}

.cropper > * {
  padding: 0;
  margin: 0;
}

.cropper_pixel {
  width: 100%;
  height: ~"calc(100% - 50px)";
  position: relative;
  background: url(../../assets/block.png);
  border: 1px solid #d9d9d9;  
}

.cropper_source_image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cropper_filter {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .35);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.cropper_cut_box {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 200px;
  height: 200px;
  background: transparent;
  border: 1px solid #109df1;
  z-index: 3;
}

.cropper_cut_point {
  width: 1px;
  height: 1px;
  background: #109df1;
}

.cropper_move {
  width: 100%;
  height: 100%;
  cursor: move;
  position: absolute;
  z-index: 5;
  background: #fff;
  opacity: .1;  
}

.cropper_cut_point {
  border: 2px solid #109df1;
  position: absolute;
  left: -3px;
  top: -3px;
  cursor: nwse-resize;

  &:nth-child(3) {
    top: -3px;
    right: -3px;
    left: auto;
    bottom: auto;
    cursor: nesw-resize;
  }

  &:nth-child(4) {
    left: auto;
    bottom: -3px;
    right: -3px;
    top: auto;
    cursor: nwse-resize;
  }
  &:nth-child(5) {
    bottom: -3px;
    top: auto;
    right: auto;
    left: -3px;
    cursor: nesw-resize;    
  }
}

.cut_image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;

  img {
    position: absolute;
  }
}

.cropper_btns {
  width: 100%;
  height: 30px;
  background: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;

  button {
    border: none;
    width: 80px;
    height: 30px;
    background: #109df1;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
    border-radius: 2px;
  }
}
